[submodule "Res/PhysX"]
	path = Res/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "Res/glfw"]
	path = Res/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Res/nanogui"]
	path = Res/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
